@import "~materialize-css/dist/css/materialize.min.css";

button:focus {
    background-color: #e8eaf6!important;
}
.MuiButton-containedPrimary {
    background-color: #455a64!important;
}
.MuiButton-outlinedPrimary {
    color: #455a64!important;
    border: 1px solid #455a64!important;
}
